__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
dist/
build/
node_modules/
.DS_Store
.env
frontend/node_modules/
frontend/dist/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/.venv/
pgdata/
media_tmp/
minio_data/
